html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
* {
  font-family: "fantasy";
}
.underline {
  position: relative;
}
.underline::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #d40b29;
  transform-origin: center;
  transition: transform 0.5s ease-out;
}
.underline:hover::after {
  transform: scaleX(1);
}
