html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
* {
  font-family: "fantasy";
}
.underline {
  position: relative;
}
.underline::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #640002;
  transform-origin: center;
  transition: transform 0.5s ease-out;
}
.underline:hover::after {
  transform: scaleX(1);
}
::-webkit-scrollbar {
  width: 0px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
